<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors>
            <remove statusCode="403" subStatusCode="4" />
            <error statusCode="403" subStatusCode="1" path="https://maejo.link/" responseMode="Redirect" />
            <error statusCode="403" subStatusCode="4" path="https://maejo.link/" responseMode="Redirect" />
        </httpErrors>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>
